/* Reset Password Container */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Reset Password Card */
  .reset-password-card {
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Full-width input fields */
  .full-width {
    width: 100%;
  }
  
  /* Submit button */
  mat-card-content button {
    margin-top: 20px;
  }
  
  /* Error messages */
  mat-error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  .center-content {
    text-align: center;
    color: #000280;
    justify-content: center;
    margin:23px;
    
  }
  .btn{
    background-color: green;
    color :white;
  }

  