
<div class="container">
    <mat-card class="signup-card">
      <div style="display: flex; justify-content: center; align-items: center;">
        <img src="../../../assets/bharatlaw.png" width="50" height="50" alt="img">
      </div>
      <mat-card-header class="center-content">
        <mat-card-title>Welcome Back</mat-card-title>
      </mat-card-header>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <mat-card-content>
          
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
         <!-- registration.component.html -->
         <p>Forgot Password ?</p>
  
        </mat-card-content>
        <mat-card-actions>
          <button class="full-width btn" mat-raised-button  type="submit" [disabled]="loginForm.invalid">Login</button>
        </mat-card-actions>
      </form>
      <p>Don't Have an Account? <a href="/signup">Signup</a></p>
      <p>OR</p>
      <div class="google-login-container">
        <img src="../../../assets/GoogleIcon.png" alt="Google Icon" class="google-icon">
        <button mat-button color="primary" (click)="loginWithGoogle()">Continue with Google</button>
      </div>
    </mat-card>
  </div>