/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center-content {
    text-align: center;
    color: #000280;
    justify-content: center;
  }
 
  .btn{
    background-color: green;
    color :white;
  }