
<div class="background">
  <div class="card1">
    <div style="display: flex; justify-content: center; align-items: center">
        <img src="../../../assets/bharatlaw.png" width="50" height="50" alt="img" />
      </div>
    <form [formGroup]="updateProfile" (ngSubmit)="updateForm(updateProfile.value)">
      <h2>Update Profile</h2>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="First Name" formControlName="firstName" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Last Name" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput  placeholder="Password" formControlName="password" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Select Organisation</mat-label>
          <mat-select formControlName="organization">
            <mat-option value="lawyers">Lawyers</mat-option>
            <mat-option value="paralegals"> Paralegals</mat-option>
            <mat-option value="Law students and professors ">
              Law students and Professors
            </mat-option>
            <mat-option value="Legal researchers">
              Legal Researchers</mat-option>
            <mat-option value="Government agencies">
              Government Agencies</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Contact Details" formControlName="contactDetails" />
        </mat-form-field>
      </mat-card-content>

      <button  type="submit" [disabled]="updateProfile.invalid">Update Profile</button>
      <a routerLink="/dashboard" style="margin-top: 15px; color: black; text-decoration: none;">Back</a>
    </form>
  </div>
</div>
